ADMIN_PASSWORD=aa,,11aobiarizon
ADMIN_EMAIL=arizonacademy1@gmail.com
NEXT_PUBLIC_APP_URL=http://localhost:3000
RESEND_API_KEY=re_SyHsFuoD_HKCuTggyPsHQMY3EDYKsYVH1
RESEND_FROM=https://arizon-academy.netlify.app/
TELEGRAM_VIP_LINK=https://t.me/ArizonAcademy
NEXT_PUBLIC_TELEGRAM_VIP_LINK=https://t.me/ArizonAcademy
